# --- C++ Build Artifacts ---
.build/
*.exe
*.o

# Exercise guidelines
**/LSN_Exercises_*.ipynb

# --- Python & Jupyter ---
.ipynb_checkpoints/
*/.ipynb_checkpoints/
__pycache__/
*.py[cod]

# --- Editor & OS ---
.vscode/
.DS_Store
Thumbs.db

# Outputs
Lab09/outputs/poplog_N110_Pop700_Gen2000_Italy.dat
Lab10/outputs/
Lab11/outputs/
Lab12/outputs/